.OrderPage{
    border: 2px solid black;
    margin: 3px;
}
.f{
    display: block;
    width: 33%;
    margin: 15px auto;
}
.link {
    color: rgb(35, 34, 34);
    display: block;
    border: 2px solid grey;
    width: 33%;
    margin: 5px auto;
    text-decoration: none;
}
.button{
    color: black;
    display: block;
    width: 485px;
    text-decoration: none;
}

.link:hover{
    color: black;
    font-weight: bold;
    text-decoration: dashed;
}
.btn{
    text-align: center;
    margin: 15px auto;
    }