.pazari img {
  width: 80px;
  height: auto;
  padding: 5px;
  margin: 2px;
  float: left;
  background-color: transparent;
}
  .search {
    border-radius: 50px;
    margin: 18px 0; 
    width: 50%;
    height: 40px;
    float: left;
    box-sizing: border-box;
    display: flex; 
    align-items: center;
  }
  
  .search input[type="search"] {
    flex-grow: 1;
    border: none;
    background-color: white;
    border-radius:50px ;
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
  }
  
  
  @media (max-width: 767px) {
    .photos {
      margin-top: 15px;
      display: inline-block;
      width: fit-content;
    }
    .photos a {
      margin: 10px
    }
  }
  
  @media (min-width: 768px) {
    .photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 15px;
      padding-left: 100px;
      width: fit-content;
      height: fit-content;
      text-align: center;
      font-size: large;
    }
    .photos a {
      margin: 10px 20px;
      text-align: center;
    }
  }
.settings{
  float:right ;
  background-color: transparent;
  margin: auto;
}

.top{
  margin: -7.8px;
  margin-left: -5;
  border: 1px solid black;
  overflow: auto;
  width: 1544.227px;
  height: 6005.775px;
  transform: rotate(-0.186deg);
  flex-shrink: 0;
  fill: rgba(6, 6, 6, 0.12);
  backdrop-filter: blur(175px);
  }
  .top a{
    background-color: transparent;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
  }
  .top a:hover{
    background-color:transparent;
    color: red;
  }
.boy{
  width: 1354px;
  height: 815px;
  flex-shrink: 0;
  margin: 57px 109px;
  text-align: center;
  border-radius: 87px;
  background: #F1F0F0;
  box-shadow: 0px 4px 4px 0px #000;
  position: relative;
}
#boypic{
margin-left: 558px;
margin-top: 150px;
position: absolute;
background-color: transparent;
}
#boypic img {
  margin: 124 -37 4074 600;
  width: 802.157px;
  height: 539.863px;
  transform: rotate(22.959deg);
  flex-shrink: 0;
  mix-blend-mode: multiply;;
  position: relative;
  z-index: 1;
}
.boy p {
  z-index: 2;
  position: relative;
  margin: 0;
}
.pare {
  padding: 180px;
}
.pare p:first-of-type {
font-size: xx-large;
margin-right: 566px;
padding: 0;
word-spacing: 15px;
}
.pare p:nth-child(2) {
  margin-top: 29;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Saira Stencil One;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 25px;
  background: linear-gradient(180deg, #c9baba 0%, #5132a0 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.pare button {
  margin-top: 150px;
  width: 314px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 15px;
  background: linear-gradient(180deg, #c9baba 0%, #5132a0 100%);
  
box-shadow: 12px 10px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

